@charset "UTF=8";

/* 초기화 */
* { margin: 0; padding: 0; }
body { font-family: sans-serif; }
li { list-style: none; }
a { text-decoration: none; }
img { border: 0; }

/* 헤더 */

#main_header {
    position: relative;
    height: 200px;
}

#main_header > .top_warp {
    position: absolute;
    
}

